---
layout: default
title: Donare
---

<div class="container">
	<h2 class="editable" style="text-align: center;">Come puoi donare</h2>

        <ul class="thirds">	
		<li>
			<div class="image">{% include icons/site.html icon="clock" %}</div>
			<h3 class="editable">Tempo</h3>
			<p class="editable">Fare il volontario è facile: basta qualche ora al mese! E non servono competenze particolari.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="gift" %}</div>
			<h3 class="editable">Regali</h3>
			<p class="editable">Indumenti nuovi o usati purché in buono stato, puliti e stirati: come per un amico, un'amica o i suoi bambini.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="euro" %}</div>
			<h3 class="editable">Denaro</h3>
			<p class="editable">Donare il 5x1000 non costa nulla! Le donazioni fatte tramite la banca sono anche detraibili o deducibili.</p>
		</li>
	</ul>
</div>


<div class="container" id="tempo">

    <div class="columns">
        <div>
            <h2 class="editable">Vieni con noi</h2>
                <p class="editable">Se hai un po' di tempo libero, anche solo qualche ora al mese, puoi fare il volontario.</p> 
                <p>Molte attività non richiedono nessuna competenza particolare.</p>
                <p>Scrivi a info@casagregor.org e raccontaci cosa ti piacerebbe fare.</p>
        </div>
        <div>
            <img src="{{ site.baseurl }}/images/brooke-cagle-170002-unsplash.png" alt="Help" />
        </div>
    </div>
</div>


<div class="container" id="regali">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/annie-spratt-130809-unsplash.png" alt="Clothes" />
		</div>
		<div>
			<h2 class="editable">Fai qualche regalo</h2>

			<p class="editable">Le scarpe da uomo, donna e bambino mancano sempre! Devono essere pulite, nuove o in buono stato e il più possibile sportive (sia per uomini che per donne).
Anche gli indumenti per bambini e neonati servono in grande quantità. 
Lenzuola, asciugamani, tovaglie, sono indispensabili soprattutto per le famiglie che escono dai centri di accoglienza e cominciano la loro nuova vita in una loro casa.
Infine c'è sempre bisogno di coperte.</p>
                        <p>Gli indumenti e le scarpe devono essere lavati, senza buchi o scuciture, se di lana non infeltriti... Dovete
pensare di regalarli a un vostro amico o amica o ai suoi bambini.</p>
                    <p>Per ricevere un avviso via mail in prossimità delle raccolte è sufficiente iscriversi alla newsletter.</p>
		</div>
	</div>


    <div class="container" id="Iscrizione">
        <form action="{{ site.newsletter_action }}" method="post">
            <input type="text" name="EMAIL" placeholder="Email" />
            <input type="submit" value="Iscriviti" />
        </form>
    </div>
</div>

<div class="container" id="denaro">

        <div class="columns">
<div>
	<h2 class="editable">Fai una donazione</h2>
                <p>Per donare il 5x1000 basta indicare come intestazione "Casa Gre.Gor. APS" e il nostro Codice Fiscale: 97820960157.
                <p class="editable">Puoi sostenere le attività promosse dall’associazione facendo una donazione tramite bonifico bancario nel modo seguente:
                </p>
            <p>Beneficiario: Casa Gre.Gor. APS
            <br>IBAN: IT64W0335901600100000160745
            <br>Causale: Erogazione liberale
            <br>c/o Banca Prossima
            </p>
            <p>Se hai bisogno di una ricevuta per la donazione, una volta effettuato il versamento puoi inviarci una email a info@casagregor.org con i seguenti dati:</p>
<ul class="lista">
<li>Nome e Cognome o Ragione Sociale</li>
<li>Via, numero, CAP, Città, Provincia</li>
<li>Codice Fiscale o Partita IVA</li>
<li>Codice identificativo del bonifico</li>
</ul>
            </div>
                <div>
                        <img src="{{ site.baseurl }}/images/jony-ariadi-197568-unsplash.png" alt="Gift" />
                </div>
	<!--div class="donate">
		{{ site.donation_embed }}
	</div-->
</div>

<p>I tuoi dati verranno gestiti come riportato nell’informativa sulla <a href="{{ site.baseurl }}/privacy">privacy</a>.</p>

