---
layout: default
title: Casa Gre.Gor.
---

<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">
					Unisciti a noi!
				</h1>
				<p class="editable">
					Una comunit&agrave; di persone che si prendono cura di chi ha pi&ugrave; bisogno.
				</p>
				<div class="button">
					<a href="#donate">Dona</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="https://source.unsplash.com/Pw5uvsFcGF4/2000x1322?a=.png" alt="Love" />
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Cosa fanno i volontari</h2>

        <ul class="thirds">	
		<li>
			<div class="image">{% include icons/site.html icon="food" %}</div>
			<h3 class="editable">Banco Alimentare</h3>
			<p class="editable">Distribuiscono viveri circa due volte al mese a 60 famiglie o persone iscritte</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Mantello</h3>
			<p class="editable">Distribuiscono indumenti nuovi e usati a 70 nuclei famigliari, 100 bambini, 40 persone singole</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Centro di Ascolto</h3>
			<p class="editable">Vengono assistite in media 50 persone all'anno svolgendo oltre 200 colloqui</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="https://source.unsplash.com/Pw5uvsFcGF4/2000x1322?a=.png" alt="Love" />
		</div>
		<div>
			<h2 class="editable">La nostra Missione</h2>

			<p class="editable">Accoglienza, solidarietà, mutualismo: azioni concrete nel territorio, sostenute da una comunità di persone che vivono in due quartieri della città di Milano.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr />
	<blockquote>
		<p class="quote editable">
A volte è difficile fare la scelta giusta perché o sei roso dai morsi della coscienza o da quelli della fame.
</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/AntonioDeCurtisFoto.jpg" alt="Antonio De Curtis, in arte Totò" /></span>
				<span class="author editable"><strong>Antonio De Curtis, in arte Totò</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Vuoi saperne di più?</h2>
		<p class="editable" style="text-align: center;">Iscriviti alla nostra newsletter per restare informato sulle attività dell'Associazione.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email" />
			<input type="submit" value="Sign up" />
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Fai una donazione</h2>
                <p>Attraverso una donazione puoi sostenere le attività promosse dall’associazione.
                </p>
<p>Beneficiario: CASA GRE.GOR. APS
<br>IBAN: IT64W0335901600100000160745
<br>CAUSALE: erogazione liberale
<br>c/o Banca Prossima
</p>

<!--
	<div class="donate">
		{{ site.donation_embed }}
	</div>
-->
</div>

<!--
<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
-->
