<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
<!--                <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"> -->

		{% seo %}

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css?ver={{ site.data.layout.css_ver }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-icon-180x180.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" sizes="32x32">
                <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/android-icon-192x192.png">
	</head>
	<body>
    <header id="mainHeader">
        <nav>
		<div class="container">
                <a href="{{ site.baseurl }}/">{% include logo.html %}</a>
                {% include navigation.html %} 
		</div>
        </nav>
    </header>
		<div class="content">
			{{ content }}
		</div>
		<footer>
			<p class="editor-link" style="margin-bottom: 20px;"><a href="cloudcannon:collections/_data/company.yml" class="btn"><strong>&#9998;</strong> Update footer</a></p>
			<div class="container">
				<div class="about">
					<p>{{ site.data.company.mission_statement }} </p>

				</div>

				<div class="contact">
                                        <p> 
                                                {{ site.data.company.company_name }} <br> {{ site.data.company.codfis }}
                                        </p>
					<address>
<!--						<a href="https://www.google.com/maps/place/{{ site.data.company.address | url_encode }}">
							{% include icons/footer.html icon="place" %} --> 
    {{ site.data.company.address }} <br> {{ site.data.company.address1 }}
<!--						</a> -->
					</address>
</div>
<div>
					<p class="email">
						<a href="mailto:{{ site.data.company.email }}">
							{% include icons/footer.html icon="email" %} {{ site.data.company.email }}
						</a>
					</p>
<p><a href="/privacy">Informativa Privacy</a></p> 
<p><a href="/statuto">Statuto</a></p>
<!--
					<p class="phone">
						<a href="tel:{{ site.data.company.phone | replace: ' ', '-' }}">
							{% include icons/footer.html icon="phone" %} {{ site.data.company.phone }}
						</a>
					</p>
-->
				</div>
<!--
				<div class="sharing">
					<a class="facebook" href="https://www.facebook.com/{{ site.data.company.facebook }}">
						{% include icons/social-media.html social_icon="facebook" %}
					</a>
					<a class="twitter" href="https://twitter.com/{{ site.data.company.twitter }}">
						{% include icons/social-media.html social_icon="twitter" %}
					</a>
					<a class="google-plus" href="https://plus.google.com/{{ site.data.company.google_plus }}">
						{% include icons/social-media.html social_icon="google-plus" %}
					</a>
				</div>
-->
			</div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/main.js"></script>
		<!--script type="text/javascript">
			$('a[href*=\\#]').on('click', function(event){
				var el = $(this.hash);
				if (el.length > 0) {
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
				}
			});
		</script-->
	</body>
</html>
